/*******************
      CANDIDATES
********************/
@tailwind components;


.bg {
    background: url('/assets/branding/candidates_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: center; 
}

@media screen and (min-width: 450px) {
      .bg {
            background: url('/assets/branding/hero_banner.png');
            background-position: center; 
            background-attachment: center; 
            background-repeat: no-repeat;
      } 
}

/*******************
    JOB OPENINGS
********************/
@layer components {
      .jobdetails {
            @apply font-semibold bg-[var(--orange)] text-[11px] mt-2 border-[1px] p-[0.3rem] w-fit rounded-sm whitespace-nowrap text-ellipsis overflow-hidden md:text-center md:justify-center md:text-[12px]
      }
}
