/*******************
      CANDIDATES
********************/

.bg {
    background: url('/assets/branding/candidates_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: center; 
}

@media screen and (min-width: 450px) {
      .bg {
            background: url('/assets/branding/hero_banner.png');
            background-position: center; 
            background-attachment: center; 
      } 
}
