@tailwind components;

.container {
  text-align: left;
  border-radius: 5px;
}

.input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.menu {
  margin-top: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 140px;
  background-color: #fff;
}

.item {
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.item:hover {
  background-color: #f3d9bc;
}

.selected_value {
  font-size: 20px;
  color: white;
}

.tool {
  color: var(--orange);
}

@layer components {
.button {
    @apply bg-[var(--orange)] flex m-auto my-4 px-6 py-1 rounded-lg border-2 border-white hover:cursor-pointer hover:text-white hover:border-black
  }
}