/*******************
       HERO
********************/

.bg {
    background: url('/assets/branding/herobanner-mobilelarge.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: center;
}

@media screen and (min-width: 450px) {
  .bg {
    background: url('/assets/branding/hero_banner.png');
    background-position: center; 
    background-size: cover;
  }
}

/*******************
      PORTRAIT 
********************/


/* @media screen and (min-width: 600px) {
  @media screen and (orientation: portrait) {
    .portrait {
      padding-top: 4em;
    }
    .tablet {
      font-size: 110px;
      line-height: 1.2;
      margin-bottom: 0.5em;
    }
  }
} */





  
