/*******************
    Career Advice
********************/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.569);
    transition: 0.3s;
    border-radius: 10px;
}
  
.corners {
    border-radius: 10px 10px 0 0;
}
  
@media screen and (min-width: 500px){
    .posts {
      width: 70%;
    }
}
  
  