@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************
      GENERAL
********************/

:root {
  --orange: #ec9b3c;
  --yellow: #f7d717;
  --cream: #efebe0;
  --gray: #3b444b;
  --darkgray: #282828;
}


html {
  scroll-behavior: smooth;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/*******************
       HERO
********************/

.custom-img-hero {
  background: url('/assets/branding/herobannerv2.jpg');
  background-repeat: no-repeat;
  background-position: center right; 
  background-attachment: local; 
  background-size: cover;
}

/*******************
      FOOTER
********************/

.custom-img-footer {
  background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9)
    ),
    url("https://media.istockphoto.com/id/1009749402/photo/digital-abstract-blue-color-wave-particles-flow-background.jpg?s=612x612&w=0&k=20&c=C289shLqh6KXLLK6BQAd1a6o3QMhwD4OXoTlSF8F42s=");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
}

/*******************
      NAVBAR
********************/

.search-bar {
  border-radius: 15px 0 0 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
  min-height: 28px;
  padding: 4px;
  padding-left: 12px;
  width: 75%;
}

.search-btn {
  display: flex;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  border-style: none;
  background: white;
  min-height: 28px;
  padding: 4px;
  width: 25%;
}

.search-btn-img {
  padding: 2.4px;
}

.search-bar-nav {
  border-radius: 15px 0 0 15px;
}

.search-btn-nav {
  border-radius: 0 15px 15px 0;
}

@media only screen and (min-width: 1024px) {
  .search-btn {
    padding-left: 1em;
  }
}


@media only screen and (min-width: 1280px) {
  .search-btn {
    padding-left: 2em;
  }
}


@media only screen and (min-width: 1536px) {
  .search-btn {
    padding-left: 3em;
  }
}

/*******************
    LANDING PAGE
********************/
.custom-img-landing {
  background: url('/assets/branding/landingpagebg.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
  background-size: cover;
}

.left-dim:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url('/assets/branding/landingpagebg.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
  background-size: cover;
}

.right-dim:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url('/assets/branding/landingpagebg.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
  background-size: cover;

}

.right-side-chain:hover {
  background: url("/assets/branding/rightsidechainlink.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 21.44cm;
  background-size: 11.69cm;
}

 .left-side-chain:hover {
  background: url("/assets/branding/leftsidechainlink.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 17.675cm;
  background-size: 11.69cm
}

/*
.right-side-chain:hover {
  background: url("/assets/rightsidechainlink.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 21.44cm;
  background-size: 11.69cm;
} */

/* 
.right-side-chain {
  background: url("/assets/leftsidechainlink.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 21.44cm;
  background-size: 11.69cm;
} */

/*******************
        FONTS
********************/
@font-face {
  font-family: 'Anton', sans-serif;
  src: url(/public/fonts/Anton-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Magnify', sans-serif;
  src: url(/public/fonts/Magnify-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Magnify', sans-serif;
  src: url(/public/fonts/Magnify-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/public/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/public/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/public/fonts/Roboto-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/public/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
}

.Anton-Regular {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 95px;
  line-height: 1.2;
}

.Magnify-Regular {
  font-family: 'Magnify', sans-serif;
  font-weight: 400;
}

.Magnify-Bold {
  font-family: 'Magnify', sans-serif;
  font-weight: 700;
}

.Roboto-Light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.Roboto-Regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.Roboto-Medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.Roboto-Bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.mobile-font {
  font-size: 2.5rem /* 36px */;
  line-height: 2.5rem /* 40px */;
}

/*******************
    PAGINATION
********************/
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.pagination button {
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  margin: 0 10px;
  border: solid 1px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  border-color: white;
}

.pagination button.active {
  font-weight: 600;
  border-color: var(--gray);
  background: var(--orange);
  color: #101010;
}