@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************
      GENERAL
********************/
:root {
  --orange: #ec9b3c;
  --yellow: #f7d717;
  --cream: #efebe0;
  --gray: #3b444b;
  --darkgray: #282828;
}

html {
  height: --webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  height: --webkit-fill-available;
}

/*******************
        FONTS
********************/
@font-face {
  font-family: 'Anton', sans-serif;
  src: url(/public/fonts/Anton-Regular.ttf) format('truetype');
  src: url(/public/fonts/Anton-Regular.woff2) format('woff2'),
  url(/public/fonts/Anton-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Magnify', sans-serif;
  src: url(/public/fonts/Magnify-Regular.ttf) format('truetype');
  src: url(/public/fonts/Magnify-Regular.woff2) format('woff2'),
  url(/public/fonts/Magnify-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Magnify', sans-serif;
  src: url(/public/fonts/Magnify-Bold.ttf) format('truetype');
  src: url(/public/fonts/Magnify-Bold.woff2) format('woff2'),
  url(/public/fonts/Magnify-Bold.woff) format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/public/fonts/Roboto-Light.ttf) format('truetype');
  src: url(/public/fonts/Roboto-Light.woff2) format('woff2'),
  url(/public/fonts/Roboto-Light.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/public/fonts/Roboto-Regular.ttf) format('truetype');
  src: url(/public/fonts/Roboto-Regular.woff2) format('woff2'),
  url(/public/fonts/Roboto-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/public/fonts/Roboto-Medium.ttf) format('truetype');
  src: url(/public/fonts/Roboto-Medium.woff2) format('woff2'),
  url(/public/fonts/Roboto-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/public/fonts/Roboto-Bold.ttf) format('truetype');
  src: url(/public/fonts/Roboto-Bold.woff2) format('woff2'),
  url(/public/fonts/Roboto-Bold.woff) format('woff');
  font-weight: 700;
}

.Anton-Regular {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.Magnify-Regular {
  font-family: 'Magnify', sans-serif;
  font-weight: 400;
}

.Magnify-Bold {
  font-family: 'Magnify', sans-serif;
  font-weight: 700;
}

.Roboto-Light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.Roboto-Regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.Roboto-Medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.Roboto-Bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/*******************
    LANDING PAGE
********************/
.custom-img-landing {
  background: url('/assets/branding/landingpagebg.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
  background-size: cover;
}

.left-dim:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url('/assets/branding/landingpagebg.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
  background-size: cover;
}

.right-dim:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url('/assets/branding/landingpagebg.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
  background-size: cover;
}


/*******************
    PAGINATION
********************/
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 1em;
  width: 80%; 
  margin: 0 auto;
}

.pagination button {
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  margin: 0 10px 10px;
  border: solid 1px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  border-color: white;
}

.pagination button.active {
  font-weight: 600;
  border-color: var(--gray);
  background: var(--orange);
  color: #101010;
}

/*******************
      CAROUSEL
********************/
.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
  background-color: var(--darkgray) !important; 
}

.alice-carousel__dots-item:not(.__custom) {
  background-color: #282828a9 !important;
}



